<!doctype html>
<html>
  <head>
    <script src ="./src/thermostat.js"></script>
  </head>

  <h1>Thermostat</h1>
  <h1>Temperature = </h1>



  <form>
    <input type = "submit" value = "Increase Temperature" id = "Increase Temperature">
    <input type = "submit" value = "Decrease Temperature" id = "Increase Temperature">
    <input type = "submit" value = "Reset Temperature" id = "Increase Temperature">
    <input type = "submit" value = "Powersaving Mode" id = "Increase Temperature">
  </form>



</html>
